@model List<BookViewModel>
@{
    ViewData["Title"] = "Library Catalogue";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library Catalogue</h1>
    @foreach (BookViewModel book in Model)
        {
            <div class="book-card">
                <img src="@book.CoverPhotoUrl" alt="@book.Title Cover">
                <h2><a asp-controller="Catalogue"
                        asp-action="Book">@book.Title</a></h2>
                <p>By @string.Join(" and ", book.Authors.Select(a => a.Name))</p>
            </div>
        }
</div>